body {
    font-family: 'Ubuntu', sans-serif;
    max-width: 1440px;
    min-width: 450px;
    width: 100%;
}
.logo-header {
    padding: 20px 82px;
    width: 244px;
    height: 77px;
}
header {
    height: 117px;
    background-color: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
header > nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 60px;
}
header > nav li{
    display: inline-flex;
    margin-right: 42px;


}
header > nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FDFDFD;


}
footer {
    background: #2E948A;
    font-family: "Ubuntu";
    max-height: 207px;

}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 53px 130px;
}
footer a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

footer li {

    margin-bottom: 10px;
}
footer img {
    width: 312px;
    height: 101px;
}
.outros-links li {
    border: 2px #fff solid;
    border-radius: 62px;
    padding: 14px 55px;
    font-weight: 400;
    text-align: center;

}

@media only screen and (max-width:650px) {
    .logo-header {
        height: 50px;
        width: auto;
        padding: 10px;
    }
    header > nav li{
        display: block;
        padding: 8px;
    }
}
@media only screen and (max-width:850px) {
    .logo-header {
        width: auto;
        height: 100;
    }
    header > nav li{
        display: block;
        padding: 8px;
    }
}
@media only screen and (max-width:1000px) {
    footer img {
        display: none;

    }
    footer .container {
        padding: 5px;
    }
    .outros-links li {
        border: 2px #fff solid;
        border-radius: 62px;
        padding: 7px 20px;
    }

    footer a { 
        font-size: 15px;
    }

}

